:root {
	--body-background: #fff;
	--body-color: #4a5568;
	--primary: #5496ff;
	--secondary: #8739e5;
	--color-light: #718096;
	--gradient: linear-gradient(90deg, var(--primary), var(--secondary));
}

a,
button {
	i {
		margin-right: 0.35rem;
	}
}

// Body

body {
	font-size: 1rem;
	font-family: "Inter", sans-serif;
	line-height: 1.55;
	background-color: var(--body-background);
	color: var(--body-color);
}

// Container

.container {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

// Header

header {
	border-top: 1rem solid var(--secondary);
	padding: 1.5rem 0;
	background-color: #fff;
	border-bottom: 1px solid #e2cff9;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	.logo {
		font-weight: 600;
		font-size: 1.125rem;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&.expanded {
		.menu {
			display: block;
		}

		.hamburger {
			svg {
				.open {
					display: none;
				}

				.close {
					display: block;
				}
			}
		}
	}
}

.hamburger {
	height: 36px;
	width: 36px;
	background: var(--gradient);
	border: none;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		display: block;
		height: 30px;
		width: 30px;
		color: #fff;

		.close {
			display: none;
		}
	}
}

.menu {
	flex-basis: 100%;
	margin-top: 1.5rem;
	display: none;

	li + li {
		margin-top: 0.5rem;
	}

	a {
		display: block;
		padding: 0.5rem 1rem;
		text-align: center;
		color: var(--color-light);
	}
}

// Hero Section

.hero {
	padding: 4rem 0;
}

.hero__intro {
	.hello {
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.headline {
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 1.35;

		span {
			color: var(--primary);
		}
	}

	p {
		color: var(--color-light);
		margin: 1rem 0;
	}

	.links {
		a {
			display: inline-block;
			padding: 0.5rem 2rem;
			border-radius: 99999999rem;

			&:hover {
				filter: brightness(115%);
			}

			&.contact__link {
				background: var(--gradient);
				color: #fff;
			}

			&.projects__link {
				background-color: #fff;
				box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
					0 2px 4px -1px rgba(0, 0, 0, 0.06);
				margin-left: 1rem;
			}
		}
	}
}

.hero__image {
	margin-top: 3rem;
	background: var(--gradient);
	border-radius: 2px;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);

	img {
		position: relative;
		top: -0.75rem;
		left: -0.75rem;
		border-radius: 2px;
	}
}

// About Section

.about {
	padding: 3rem 0;
}

.about__intro {
	> h3 {
		font-weight: 600;
		font-size: 1rem;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
		border-bottom: 2px solid #d0b1f5;

		span {
			display: inline-block;
			padding: 5px;
			border-bottom: 2px solid var(--secondary);
			position: relative;
			bottom: -2px;
		}
	}
}

.about__content {
	> * + * {
		margin-top: 1rem;
	}

	p {
		font-size: 0.95rem;
		color: var(--color-light);
	}

	a {
		display: inline-block;
		color: var(--secondary);
		border-bottom: 1px solid var(--secondary);
	}
}

.about__image {
	margin-top: 2.5rem;
	border: 2px solid #d0b1f5;
	border-radius: 2px;
	overflow: hidden;

	.social {
		padding: 1.5rem;
	}

	ul {
		text-align: center;
	}

	li {
		display: inline-block;
	}

	li + li {
		margin-left: 1rem;
	}

	a {
		font-size: 2rem;
		display: inline-block;
		transition: transform 180ms ease;
		will-change: transform;

		&:hover {
			transform: scale(1.125);
		}

		&.facebook {
			color: #3b5998;
		}

		&.twitter {
			color: #1da1f2;
		}
	}
}
